@import '../../styles/_variables.scss';

$height: 25vh;

.horizontal-slider {
    position: absolute;
    bottom: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: $height;
    border: 8px solid $black;
    border-left: none;
    border-right: none;
    background-color: $white;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .horizontal-slider-button {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: calc(100% / 6);
        min-width: 250px;

        &:hover {
            cursor: pointer;
        }

        .avatar {
            width: 70px;
            height: 70px;
            border-radius: 100%;
        }

        .avatar-text {
            font-family: $fira-sans;
            font-size: 20px;
        }
    }
}