@import '../../styles/_variables.scss';

.horizontal-slider {
    position: absolute;
    bottom: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: $slider-height;
    border: 8px solid $black;
    border-left: none;
    border-right: none;
    background-color: $white;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}