@import '../../../styles/_variables.scss';

.footer-roster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;

    &.sticky {
        position: absolute;
        bottom: 0;
    }

    .error-alert {
        padding-top: 1rem;
        padding-bottom: .5rem;
        color: $red;
        font-size: 24px;
        font-weight: 900;
    }

    .button-roster-confirm {
        visibility: visible;
    }
}