.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;

    &.sticky {
        position: absolute;
        bottom: 0;
    }

    .button-roster-confirm {
        visibility: visible;
    }
}