.file-uploader {
    position: relative;
    border: 1px solid black;
    border-radius: 0;

    &::-webkit-file-upload-button {
        visibility: hidden;
    }

    &:before {
        content: 'Upload Your Logo';
        display: block;
        font-size: 24px;
        font-weight: 900;
        text-decoration: underline;
        line-height: 650%;
        text-align: center;
        cursor: pointer;
    }
}