@import '../../styles/_variables.scss';

.button {
    width: 150px;
    border: none;
    background-color: $bright-green;
    font-size: 24px;
    font-family: $fira-sans-condensed;
    font-weight: 900;
    cursor: pointer;
}