.product-display {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55vh;

    svg {
        height: 85%;
    }

    .chest-logo {
        position: absolute;
        left: 50%;
        top: 34%;
        transform: translate(-50%, -34%)
    }
}