@import '../../styles/_variables.scss';

.app-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: radial-gradient(circle at 50%, #ffffff 1%, #999999 100%);
    touch-action: manipulation;
}

.theme-light {
    background-color: white;
    color: black;
}

.theme-dark {
    background-color: black;
    color: white;
}