@import '../../styles/_variables.scss';

.viewbar {
    height: 5%;

    .view-toggle {
        width: 120px;
        height: 100%;
    }

    .arrow-right {
        height: 55%;
        margin: auto 1rem;
        visibility: hidden;
    }
}