@import '../../styles/_variables.scss';

.viewbar {
    position: relative;
    height: 5%;

    .view-toggle {
        width: 150px;
        height: 100%;
        border: 5px solid $dark-gray;
        border-left: 0;
        border-bottom: 0;
        border-top-right-radius: 1rem;
        font-size: 20px;
    }

    .arrow-right {
        height: 55%;
        margin: auto 1rem;
        visibility: hidden;
    }

    .team-input {
        position: absolute;
        right: 0;
        width: 150px;
        height: 100%;
        border: 5px solid #808080;
        border-right: 0;
        border-bottom: 0;
        border-radius: 0;
        border-top-left-radius: 1rem;
        padding-left: 0.5rem;
        padding-top: .2rem;
        background-color: #66b500;
        font-size: 18px;
        font-family: "Fira Sans Condensed", sans-serif;
        text-align: center;

        &::placeholder {
            color: $black;
            font-weight: 900;
        }
    }
}