@import '../../styles/_variables.scss';

.viewbar {
    height: 5%;

    .view-toggle {
        width: 120px;
        height: 100%;

        &:hover {
            background-color: $bright-green
        }
    }
}