@import '../../styles/_variables';

.checkout-form {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 2rem;
    overflow-y: auto;

    .button-back {
        position: absolute;
        width: 175px;
        top: 28px;
        left: 0;
        padding: 4px;
        background-color: $bright-green;
        border: none;
        font-size: 18px;
        cursor: pointer;

        .svg {
            position: relative;
            top: -2px;
            width: 12px;
        }
    }

    h2,
    h3,
    h4 {
        display: block;
        width: 50%;
    }

    h2 {
        margin-bottom: 1rem;
        font-size: 32px;
        font-weight: 900;
    }

    h3 {
        margin-bottom: 1rem;
    }

    h4 {
        margin-bottom: 1rem;
        font-size: 24px;
        font-weight: 900;
    }

    h5 {
        text-align: center;
        font-size: 24px;
    }

    label {
        width: 50%;
        min-width: 280px;
        padding-bottom: 1rem;
        color: $bright-green;
        font-weight: 900;

        .StripeElement {
            padding-top: .5rem;
            padding-left: .5rem;
        }

        .form-input {
            display: block;
            width: 100%;
            margin-top: .2rem;
            padding: .5rem .8rem;
            border-radius: 1rem;
            background-color: $white;
        }
    }

    .container-checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
        min-width: 280px;
        margin: 1rem 0;

        .checkbox {
            position: relative;
            display: inline-block;
            width: 25px;
            min-width: initial;
            padding-bottom: 0;
            cursor: pointer;

            input {
                height: 25px;
                width: 25px;
                appearance: none;
                border-radius: .4rem;
                outline: none;
                transition-duration: 0.3s;
                background-color: $bright-green;
                cursor: pointer;

                &:checked {
                    border: 2px solid $bright-green;
                    background-color: $white;
                }

                &:active {
                    border: 2px solid $white;
                }
            }

            span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: $bright-green;
                position: absolute;
                left: 0.4rem;
                top: 0.3rem;
            }
        }

        p {
            display: inline-block;
            margin-left: 5%;
        }

    }

    .container-order-summary {
        width: 50%;
        min-width: 280px;
        margin-bottom: 1rem;
        text-align: left;

        .p-margin {
            margin: 1rem 0;
        }
    }

}