@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Condensed|Graduate&display=swap');

$fira-sans: "Fira Sans",
sans-serif;
$fira-sans-condensed: "Fira Sans Condensed",
sans-serif;

$white: #ffffff;
$gray: #e6e6e6;
$black: #000000;
$dark-gray: #808080;
$bright-green: #66b500;
$gold: #e68a00;

$slider-height: 25%;