@import '../../styles/_variables.scss';

.horizontal-slider-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(100% / 6);
    min-width: 250px;
    background-color: $white;
    border: 1px solid $black;

    &:hover {
        cursor: pointer;
    }

    .avatar {
        width: 70px;
        height: 70px;
        border-radius: 100%;

        &.color {
            border: 1px solid $black;
        }
    }

    .avatar-text {
        font-family: $fira-sans;
        font-size: 20px;
    }
}